
*{ 
    box-sizing: border-box;
    margin: 0; /*margem grudada no canto do navegador(se trabalha no lado de fora)*/
    padding: 0;/*grudado no top do navegador(se trablha no lado de dentro)*/
    font-family: 'montserrat', sans-serif;
}

body {
    color: #263138;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;/* serve para ativar align items e justify content*/
    align-items: center; /* vai alinhar os itens na alinhar na vertical*/
    justify-content: space-between; /*vai alinhar os itens na horizontal(space-between=espaço entre eles)*/
    background-color: #FF9A6C;
    padding-left:80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
   
}

header nav a {
    color: white;
    font-weight: 600; /*Usado para deixar em negrito*/
    padding: 32px;
    text-decoration: none; /* vai tirar a barrinha de baixo do texto*/
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding:24px 80px 128px 20px ;
    /*      top  direta baixo  esquerda*/
    position: relative;
}


h1,
h2 {
    font-weight: 600;
    font-size:30px ; /*tamanho da fonte*/
    margin-bottom:30px ; /*espaçamento entre H1 e P na parte de baixo */
}

.paragrafo { /* "." é usado quando utilizar classes*/
    line-height:150% ; /*altura de linha*/
    margin-bottom:32px ;
}

.botao {
    background-color: #ff725e;
    border-radius: 8px; /*arredonda a borda*/
    color: #FFFFFF;
    /*vertical, horizontal*/
    padding: 16px 32px ;
    text-decoration: none; /*tira o sublinhado em baixo do texto*/
}

.botao-transparente {
    background-color: transparent;
    border-radius: 8px;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px; /*serve para dar uma espaçada no sublinhado*/

}


.absolute {
    position: absolute; /*posiciona de forma absoluta na pagina*/
    bottom: 0; /*para ficar no fundo da section*/
    left: 0; /*ocupar o canto esquerdo da pagina*/
    width: 100%; /*largura completa da pagina*/
    z-index:-10 ; /*posiçao de profundidade*/
    /*jogando um valor negativo, ele ira ficar atras dos elementos*/
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64x;
    padding: 64px 80px; /*para espaçar da beirada da pagina*/
    /*vetical e horizontal*/

}

#clinica li {
    margin-bottom:16px ;
    margin-left: 32px;

}

#farmacia {
    padding: 64px 80;
    text-align: center;
}

#farmacia img {
    margin: 64px auto; /*auto vai calcular o valor necessario para que ela se mantenha centralizada**/
}

#farmacia .paragrafo {
    max-width: 950px; /*largura maxima*/
    margin: 0 auto; /*vai calcular automaticamente tanto a margem da esquerda quanto da direita*/

}

#duvidas { /* "#" usado para selecionar uma id*/
    display: flex;
    align-items: center;
    padding: 64px 80px;
    gap: 64px;
}

.duvida {
    position: relative; /* qualquer elemento que tenha a posição absluta ira ficar limitado a ele*/
}

.duvida h3 {
    border: 2px solid #ff725e; /*solid vai ser uma linha continua*/
    border-radius: 8px;
    cursor: pointer; /*curso do mouse ira inicar interação*/
    padding: 24px;
}

.duvida img { /* "." usado para selecionar uma classe*/
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px ;
    margin-top: -8px;
    padding: 0 24px;/*espaçamento*/
    height: 0;
    opacity: 0;/*transparencia do elemento*/
    overflow: hidden;/* o texto transborda dos limites da caixinha, o "hidden"ira esconder o texto*/

}

.duvida.ativa .paragrafo {
    height: fit-content;/*fazer o conteudo caber,a altura ira se ajusta para o conteudo caber */
    opacity: 1;
    padding: 24px;

}

footer {
    background-color: rgba(255, 152, 108, 0.25);
display:flex ;
gap: 80px;
padding: 64px 80px;
}
footer img, /*vai estilizar tanto a imagem quanto a classe titulo*/
footer .titulo {
font-weight: 600;
display: block; /* estou usando para "block" para conseguir usar uma margem no "strong"*/
margin-bottom: 24px;

}

footer nav a {
    color: #263138;
    display:block ;
    margin-bottom: 16px;
    text-decoration: none; /*usado para tirar o sublinado*/
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
 }


 footer p a {
    color:#263138;
    text-decoration: none;

 }

#copyright{
    background-color: #263138;
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
} 

#copyright a {
    color: #FF9A6C;
}